* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans-serif';
    background-color: #151515;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    width: 100%;
    max-width: 400px;
    background: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.auth-box {
    display: none;
}

.auth-box.visible {
    display: block;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #333;
    color: white;
}

input::placeholder {
    color: #bbb;
}

button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: deeppink;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e6008f;
}

p {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

p a {
    color: deeppink;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

/* Mobile responsiveness */
@media only screen and (max-width: 940px) {
    .auth-container {
        width: 90%;
    }
}
